<section>
  <div class="page-header">
    <h1 >My Teacher View</h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.teacher.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="teachers.edit({ teacherId: vm.teacher._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
    Teachers need to see I am a teacher at {{vm.school.name}} My Name is {{vm.teacher.name}}
    <ul>
    <li>Their classes {{vm.teacher.classes.length}}</li>
        <li>Attendance Registers</li>
        <li>Manage Homeworks</li>
        <li>Manage coursework</li>
    </ul>
    
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.teacher.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.teacher.user"
            data-ng-bind="vm.teacher.user.displayName"></span>
      <span data-ng-if="!vm.teacher.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.teacher.content"></p>
</section>
