<section>
  <div class="page-header">
    <h1>Mediaresources</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="mediaresource in vm.mediaresources"
       ui-sref="mediaresources.view({ mediaresourceId: mediaresource._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="mediaresource.created | date:'mediumDate'"></span>
        by
        <span ng-if="mediaresource.user" ng-bind="mediaresource.user.displayName"></span>
        <span ng-if="!mediaresource.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="mediaresource.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.mediaresources.$resolved && !vm.mediaresources.length">
    No Mediaresources yet, why don't you <a ui-sref="mediaresources.create">create one</a>?
  </div>
</section>
