<!--
<section>
  <div class="page-header">
    <h1>{{vm.classregister._id ? 'Edit Classregister' : 'New Classregister'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.classregisterForm" class="form-horizontal" ng-submit="vm.save(vm.form.classregisterForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.classregister.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.classregisterForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Classregister name is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.classregister._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
-->
<div class="modal-header">

    <h3 class="modal-title" id="modal-title">{{vm.classregister._id ? 'Edit Class Register' : 'New Class Register'}}</h3>

</div>

<div class="modal-body" id="modal-body">
    <!--<div class="container">-->
       
            <!--<div class="form-group" show-errors>
          <label class="control-label" for="name">Name</label>
          <input name="name" type="text" ng-model="vm.classregister.name" id="name" class="form-control" placeholder="Name" required>
          <div ng-messages="vm.form.classregisterForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Classregister name is required.</p>
          </div>
        </div>-->
            <div class="row margin-bottom">
                <label class="col-md-2"> Date Of Register</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input class="form-control" type="text" ng-model="vm.classregister.dateofregister" id="dateofregister" placeholder="dateofregister" datepicker-popup="{{vm.format}}" is-open="vm.dateofregisterDatePopup.opened" datepicker-options="vm.dateOptions" close-text="Close" ng-required="true" date-disabled="vm.disabled(date, mode)" min-date="vm.minDate" max-date="vm.maxDate" />
                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation();vm.openDateofregisterPopup();"><i class="glyphicon glyphicon-calendar"></i></button>
          </span></p>
                </div>
                <label class="col-md-2"> Date Marked</label>
                <div class="col-md-4">
                    <p class="input-group">
                        <input class="form-control" type="text" ng-model="vm.classregister.datemarked" id="dateofregister" placeholder="datemarked" datepicker-popup="{{vm.format}}" is-open="vm.datemarkedDatePopup.opened" datepicker-options="vm.dateOptions" close-text="Close" ng-required="true" date-disabled="vm.disabled(date, mode)" min-date="vm.minDate" max-date="vm.maxDate" />
                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation();vm.openDatemarkedPopup();"><i class="glyphicon glyphicon-calendar"></i></button>
          </span></p>
                </div>
            </div>

            <div class="row">
            <div class="col-md-12 margin-bottom">


                <table class="table table-bordered table-hover table-condensed">
                    <tr style="font-weight: bold">
                        <td>Student</td>
                        <td>Present</td>
                        <td>Action</td>
                    </tr>
                    <tr ng-repeat="reg in vm.classregister.register">
                        <td>
                            <!-- editable username (text with validation) -->
                            <!--<span editable-select="subject.subject" e-form="tableform" e-ng-options="s._id as s.name for s in vm.school.subjects">-->
                            {{reg.student}}
                            <!--</span>-->
                        </td>
                        <td>
                            <!-- editable status (select-local) 
          <span editable-text="answer.answertext" e-form="tableform" >-->
                            {{ reg.present}}
                            <!--</span>-->
                        </td>

                        <td><button type="button" ng-show="tableform.$visible" ng-click="deleteSubject(subject.id)" class="btn btn-danger pull-right">Delete</button></td>
                    </tr>
                </table>




            </div>
                </div>
        
  <!--  </div>-->
</div>

<div class="modal-footer">

    <button class="btn btn-primary" type="button" ng-click="vm.save()">{{vm.classregister._id ? 'Update': 'Save'}}</button>
    <!--<button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>-->
    <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
</div>