<section>
  <div class="page-header">
    <h1>Classexercises</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="classexercise in vm.classexercises"
       ui-sref="classexercises.view({ classexerciseId: classexercise._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="classexercise.created | date:'mediumDate'"></span>
        by
        <span ng-if="classexercise.user" ng-bind="classexercise.user.displayName"></span>
        <span ng-if="!classexercise.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="classexercise.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.classexercises.$resolved && !vm.classexercises.length">
    No Classexercises yet, why don't you <a ui-sref="classexercises.create">create one</a>?
  </div>
</section>
