<section>
  <div class="page-header">
    <h1>{{vm.school._id ? 'Edit School' : 'New School'}}</h1>
  </div>
  <div class="col-md-12">
    <!-- Nav tabs -->
    <ul class="nav nav-pills" role="tablist">
      <li role="presentation" class="active"><a href="#generaldetails" aria-controls="generaldetails" role="tab" data-toggle="tab">General Details</a></li>
      <li role="presentation"><a href="#schoolcalendar" aria-controls="schoolcalendar" role="tab" data-toggle="tab">Calendar</a></li>
      <li role="presentation"><a href="#teachers" aria-controls="teachers" role="tab" data-toggle="tab">Teachers</a></li>
      <li role="presentation"><a href="#classes" aria-controls="classes" role="tab" data-toggle="tab">Classes</a></li>
        <li role="presentation"><a href="#students" aria-controls="students" role="tab" data-toggle="tab">Students</a></li>
        <li role="presentation"><a href="#schoolsubjects" aria-controls="schoolsubjects" role="tab" data-toggle="tab">Subjects</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="generaldetails">

    <form name="vm.form.schoolForm" class="form-horizontal" ng-submit="vm.save(vm.form.schoolForm.$valid)" novalidate>
      <fieldset>


        <div>


              <div class="form-group" show-errors>
                <label class="control-label" for="name">Name</label>
                <input name="name" type="text" ng-model="vm.school.name" id="name" class="form-control" placeholder="Name" required>
                <div ng-messages="vm.form.schoolForm.name.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">School name is required.</p>
                </div>
              </div>

              <div class="form-group" show-errors>
                <label class="control-label" for="name">Address</label>
                <input name="address" type="text" ng-model="vm.school.address" id="address" class="form-control" placeholder="address" required>
                <div ng-messages="vm.form.schoolForm.address.$error" role="alert">
                  <p class="help-block error-text" ng-message="required">School address is required.</p>
                </div>
              </div>

              <div class="form-group" show-errors>
          <label class="control-label" for="name">logo</label>
          <input name="logo" type="text" ng-model="vm.school.logo" id="logo" class="form-control" placeholder="logo" required>
          <div ng-messages="vm.form.schoolForm.logo.$error" role="alert">
            <p class="help-block error-text" ng-message="required">School logo is required.</p>
          </div>
        </div>




        </div>


        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.school._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
    </fieldset>
    </form>
  </div>
  <div role="tabpanel" class="tab-pane" id="schoolcalendar">
                  <nav class="navbar navbar-default" style="margin-top: 10px; margin-bottom: 15px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Calendar Events - {{vm.school.schoolevents ? vm.school.schoolevents.length : 0}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" ng-click="vm.createSchoolEvent('lg');">Add New <span class="sr-only">(current)</span></a></li>   
        
      </ul>
      <!--<form class="navbar-form navbar-left">
        
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      
      <div>
        <table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>Title</th>
		<th>last name</th>
		<th>Age</th>
		<th>Actions</th>
		
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in vm.school.schoolevents">
		<td>{{row.title}}</td>
		<td>{{row.startdate}}</td>
		<td>{{row.enddate}}</td>
		<td>
           
            <button class="btn btn-primary" ng-click="vm.schoolevent=row;vm.openSchoolEventModal('lg', row);">View</button><button style="padding-right:10px;" class="btn btn-danger" ng-click="vm.schoolevent=row;vm.confirmDeleteSchoolEvent('md',row);">Delete</button>
               </td>		
	</tr>
	</tbody>
</table>
        
        </div>
      
        </div>
  <div role="tabpanel" class="tab-pane" id="teachers">
            
      <nav class="navbar navbar-default" style="margin-top: 10px; margin-bottom: 15px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Teachers - {{vm.school.teachers ? vm.school.teachers.length : 0}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" ng-click="vm.create('lg');">Add New <span class="sr-only">(current)</span></a></li>   
        
      </ul>
      <!--<form class="navbar-form navbar-left">
        
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      
              <div>
        <table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>first name</th>
		<th>last name</th>
		<th>Age</th>
		<th>Actions</th>
		
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in vm.school.teachers">
		<td>{{row.name}}</td>
		<td>{{row.lastname}}</td>
		<td>{{row.age}}</td>
		<td>
           
            <button class="btn btn-primary" ng-click="vm.teacher=row;vm.open('lg', row);">View</button><button style="padding-right:10px;" class="btn btn-danger" ng-click="vm.teacher=row;vm.confirmdelete('md',row);">Delete</button>
               </td>		
	</tr>
	</tbody>
</table>
        
        </div>
        
       </div>

  <div role="tabpanel" class="tab-pane" id="classes">

     <!--Classes:{{vm.school.schoolclasses ? vm.school.schoolclasses.length : 0}} <button class="btn btn-primary" ng-click="vm.createSchoolClass('lg');">Add New</button> -->
      
      <nav class="navbar navbar-default" style="margin-top: 10px; margin-bottom: 15px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Classes - {{vm.school.schoolclasses ? vm.school.schoolclasses.length : 0}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" ng-click="vm.createSchoolClass('lg');">Add New <span class="sr-only">(current)</span></a></li>   
        
      </ul>
      <!--<form class="navbar-form navbar-left">
        
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      
                  <div>
        <table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Grade Name</th>
		<th>Subject</th>
		<th>Actions</th>
		
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in vm.school.schoolclasses">
		<td>{{row.name}}</td>
		<td>{{row.gradename}}</td>
		<td>{{row.subject}}</td>
		<td>
           
            <button class="btn btn-primary" ng-click="vm.schoolclass=row;vm.openSchoolClassModal('lg', row);">View</button><button style="padding-right:10px;" class="btn btn-danger" ng-click="vm.schoolclass=row;vm.confirmDeleteSchoolClass('md',row);">Delete</button>
               </td>		
	</tr>
	</tbody>
</table>
        
        </div>

  </div>
  <div role="tabpanel" class="tab-pane" id="students">
      <!--Students {{vm.school.schoolclasses ? vm.school.schoolclasses.length : 0}} <button class="btn btn-primary" ng-click="vm.createStudent('lg');">Add New</button> -->
            <nav class="navbar navbar-default" style="margin-top: 10px; margin-bottom: 15px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Students - {{vm.school.students ? vm.school.students.length : 0}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" ng-click="vm.createStudent('lg');">Add New <span class="sr-only">(current)</span></a></li>   
        
      </ul>
      <!--<form class="navbar-form navbar-left">
        
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
      <div>
        <table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Surname</th>
		<th>Student Number</th>
		<th>Actions</th>
		
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in vm.school.students">
		<td>{{row.name}}</td>
		<td>{{row.surname}}</td>
		<td>{{row.studentnumber}}</td>
		<td>
           
            <button class="btn btn-primary" ng-click="vm.student=row;vm.openStudentModal('lg', row);">View</button><button style="padding-right:10px;" class="btn btn-danger" ng-click="vm.student=row;vm.confirmDeleteStudent('md',row);">Delete</button>
               </td>		
	</tr>
	</tbody>
</table>
        
        </div>

      
      
      
        </div>
 <div role="tabpanel" class="tab-pane" id="schoolsubjects">
     <!--Subjects {{vm.school.subjects ? vm.school.subjects.length : 0}} <button class="btn btn-primary" ng-click="vm.createSubject('lg');">Add New</button> -->
     
                 <nav class="navbar navbar-default" style="margin-top: 10px; margin-bottom: 15px;">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Subjects - {{vm.school.subjects ? vm.school.subjects.length : 0}}</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" ng-click="vm.createSubject('lg');">Add New <span class="sr-only">(current)</span></a></li>   
        
      </ul>
      <!--<form class="navbar-form navbar-left">
        
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>-->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
     
      <div>
        <table st-table="rowCollection" class="table table-striped">
	<thead>
	<tr>
		<th>Name</th>
		<th>Level</th>
		
		<th>Actions</th>
		
	</tr>
	</thead>
	<tbody>
	<tr ng-repeat="row in vm.school.subjects">
		<td>{{row.name}}</td>
		<td>{{row.level}}</td>
		
		<td>
           
            <button class="btn btn-primary" ng-click="vm.subject=row;vm.openSubjectModal('lg', row);">View</button><button style="padding-right:10px;" class="btn btn-danger" ng-click="vm.student=row;vm.confirmDeleteSsubject('md',row);">Delete</button>
               </td>		
	</tr>
	</tbody>
</table>
        
        </div>
        
        
        
        
        </div>
  </div>
    <div>



  </div>
</section>
