 <div class="modal-header">
            <h3 class="modal-title" id="modal-title"> {{vm.schoolevent._id ? 'Update': 'New '}} schoolevent Details</h3>
        </div>
            <div class="modal-body" id="modal-body">
                <!--<ul>
                    <li ng-repeat="item in vm.items">
                        <a href="#" ng-click="$event.preventDefault(); vm.selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ vm.selected.item }}</b>-->
                <div class="container">

                    <div class="row" style="margin-bottom: 5px;">
                        <label class="col-md-2"> Title</label>
                        <div class="col-md-4">
                            <input class="form-control" type="text" ng-model="vm.schoolevent.title" id="title" placeholder="Title" /></div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <label class="col-md-2"> Start Date</label>
                        <div class="col-md-4">
                             <p class="input-group">
                            <input class="form-control" type="text" ng-model="vm.schoolevent.startdate" id="startdate" placeholder="startdate"
                                   datepicker-popup="{{vm.format}}"  is-open="vm.startDatePopup.opened" datepicker-options="vm.dateOptions"  close-text="Close" ng-required="true" date-disabled="vm.disabled(date, mode)" min-date="vm.minDate" max-date="vm.maxDate"/>
                        <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation();vm.openStartDatePopup();"><i class="glyphicon glyphicon-calendar"></i></button>
          </span></p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 5px;">
                        <label class="col-md-2"> End Date</label>
                        <div class="col-md-4">
                            <p class="input-group">
                            <input class="form-control" type="text" ng-model="vm.schoolevent.enddate" id="enddate" placeholder="enddate" datepicker-popup="{{vm.format}}"  is-open="vm.endDatePopup.opened" datepicker-options="vm.dateOptions"  close-text="Close" ng-required="true" date-disabled="vm.disabled(date, mode)" min-date="vm.minDate" max-date="vm.maxDate"/>
                            <span class="input-group-btn">
            <button type="button" class="btn btn-default" ng-click="$event.preventDefault(); $event.stopPropagation();vm.openEndDatePopup();"><i class="glyphicon glyphicon-calendar"></i></button>
          </span></p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="modal-footer">
                
                <button class="btn btn-primary" type="button" ng-click="vm.save()">{{vm.schoolevent._id ? 'Update': 'Save'}}</button>
                <!--<button class="btn btn-primary" type="button" ng-click="vm.ok()">OK</button>-->
                <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
            </div>