<section>
  <div class="page-header">
    <h1 >My School Admin View [{{vm.school.name}}]</h1>
  </div>
  <div class="pull-right"
       data-ng-show="vm.school.isCurrentUserOwner">
    <a class="btn btn-primary"
       data-ui-sref="schools.edit({ schoolId: vm.school._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" data-ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.school.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.school.user"
            data-ng-bind="vm.school.user.displayName"></span>
      <span data-ng-if="!vm.school.user">Deleted User</span>
    </em>
  </small>
    <div class="container">
     Things that the Admin would like to see
    <ul>
       <li> Teachers Listing {{vm.school.teachers.length}}
        </li> 
        <li>Students Listing (Statistics on enrolment) {{vm.school.students.length}}</li>
        <li>System Users listing</li>
        </ul>
    </div>
  <p class="lead" data-ng-bind="vm.school.content"></p>
</section>
